{% extends 'base.html' %}
{% load static %}

{% block title %}
    Project Details
{% endblock title%}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/task-detail.css' %}" />
{% endblock links %}

{% block contents %}
<div class="everything">
    <div class="top-section">
        <div class="task-name">
            <h3>{{ project.title }}</h3>
        </div>
        <div class="deadline">
            <h3>{{ project.deadline }}</h3>
        </div>
    </div>

    <div class="bottom-section">
        <div class="left-section">
            <div class="summary">
                <h4>PROJECT SUMMARY</h4>
                <p>{{ project.summary }}</p>
            </div>

            <div class="details" style="display: flex;
            flex-direction: row;
            flex-wrap: wrap; justify-content: space-between;">
                <h4>PROJECT MEMBERS</h4>
                <div class="members">
                {% for member in project.members.all %}
                    <div class="user-bubble-little">
                        <div class="circle-little" style="background-color: {{member.color}};">{{ member.first_name | slice:1}}{{ member.last_name | slice:1 }}</div>
                        <span>{{ member.first_name }} {{ member.last_name }}</span>
                    </div>
                {% endfor %}
                </div>
            </div>

            <div class="status">
                <h4>STATUS</h4>
                <button>{{ project.status }}</button>
            </div>   
        </div>
        <div class="right-section">
            <div class="risks">
                <h4>RISKS / ISSUES</h4>
                <div class="comments">
                    {% for comment in comments %}
                        {% if project.title == comment.project.title %}
                        <div class="comment-bubble">
                        <div class="circle" style="background-color: {{comment.author.color}};">{{ comment.author.first_name | slice:1 }}{{ comment.author.last_name | slice:1}}</div>
                        <span>{{ comment }}</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                
            </div>

            <div class="comment">
                <form method="POST">
                    {% csrf_token %}
                    <span>{{ form.comment }}</span>
                    <input type="submit" value="↪️" class="comment-button">
                </form>
            </div>
            
            <div class="assignee">
                <h4>PROJECT MANAGER</h4>
                <div class="user-bubble">
                    <div class="circle" style="background-color: {{project.author.color }};">{{ project.author.first_name | slice:1 }}{{ project.author.last_name | slice:1}}</div>
                    <span>{{ project.author.first_name }}</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contents %}