{% extends 'base.html' %}
{% load static %}


{% block title %}
    Home
{% endblock title%}



{% block links %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock links %}



{% block contents %}
    {% if user.is_staff %}
        <div class="team-section">
            <div class="section-label">
                <h5>My Team Members</h5>
            </div>
            <div class="team-flexbox">

                {% for team in teams %}
                    {% for member in team.members.all %}
                    <div class="team-member">
                        <span class="circle" style="background-color:{{member.color}}"></span>
                        <h4><strong>{{ member.first_name }} {{ member.last_name}}</strong></h4>
                    </div>
                    {% endfor %}
                {% endfor %}
            </div>

        </div>
    {% endif %}

    {% if user.is_active %}
        <div class="task-section">
            <div class="section-label">
                <h5>Tasks Due Soon</h5>
                <a href="{% url 'task-new' %}"><h5>New Task</h5></a>
                <a href="{% url 'list' %}"><h5>See All Tasks</h5></a>
            </div>


            {% for task in assigned_tasks %}
                {% if user == task.assignee %}
                <div class="individual-task">
                    <a href="{% url 'mark_completed' task.id %}" class="circle"></a>
                    <h4><strong><a href="{% url 'task-detail' task.id %}">{{ task.task_name | truncatechars:75 }}</a></strong></h4>
                    <h4>Project: {{ task.project | truncatechars:50 }}</h4>
                    <h4 class="task-due">{{ task.deadline}}</h4>
                </div>
                {% endif %}
            {% endfor %}

            {% for task in progress_tasks %}
                {% if user == task.assignee %}
                <div class="individual-task">
                    <a href="{% url 'mark_completed' task.id %}" class="circle"></a>
                    <h4><strong><a href="{% url 'task-detail' task.id%}">{{ task.task_name  | truncatechars:75  }}</a></strong></h4>
                    <h4>Project: {{ task.project | truncatechars:50 }}</h4>
                    <h4 class="task-due">{{ task.deadline}}</h4>
                </div>
                {% endif %}
            {% endfor %}

        </div>

        <div class="project-section">
            <div class="section-label">
                <h5>My Top Projects</h5>

                {% if user.is_staff %}
                <a href="{% url 'project-new' %}"><h5>New Project</h5></a>
                {% endif %}

                <a href=""><h5>See All Projects</h5></a>
                
            </div>

            <div class="project-flexbox">
                

                {% for project in projects %}
                    {% if user == project.author %}
                    <div class="individual-project">
                        <span class="square"></span>
                        <div class="details">
                            <h4><a href="{% url 'project-detail' project.id%}">{{ project.title |truncatechars:30 }}</a></h4>
                            <h5>{{ project.author.first_name }} / {{ project.status }}</h5>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}

                {% for project in project_members.all %}
                    <div class="individual-project">
                        <span class="square"></span>
                        <div class="details">
                            <h4><a href="{% url 'project-detail' project.id%}">{{ project.title |truncatechars:30 }}</a></h4>
                            <h5>{{ project.author.first_name }} / {{ project.status }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock contents %}