.password-block{
    height: calc(100vh - 100px);
    background-color: #999;
    padding: 50px;
    margin: 20px;
}

.password-block h1{
    font-size: 26px;
    margin: 0;
}

li{
    text-decoration: none;
    list-style: none;
    margin-left: 50px;

}

p{
    font-size: 20px;
}

#id_old_password, #id_new_password1, #id_new_password2{
    height: 30px;
    font-size: 20px;
}

.btn{
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    background-color: #7D94B5;
}