.bottom-section{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding: 0 10px;
    margin-bottom: 0;
}

.left-section{
    flex: 3;
    border-right: 1px solid black;
    width: 80%;
    margin-right: 25px;
    padding: 20px;
    padding-bottom: 0;
}

.right-section{
    flex: 1;
    height: calc(100vh - 225px);
    text-align: left;
    margin: 0 auto;
}

.top-section{
    display: flex;
    flex-direction: row;
}

.everything{
    display: flex;
    flex-direction: column;
    background-color: #999;
    margin: 10px;
    height: calc(100% - 20px);
}

.top-section > * {
    width: 100%;
    margin: 20px 5px;
}

.task-name{
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}

.buttons{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.buttons a{
    margin-right: 10px;
}

.deadline{
    text-align: right;
}

.project{
    text-align: center;
}

.summary{
    height: 25vh;
    overflow: scroll;
    scroll-behavior: auto;
}

.summary::-webkit-scrollbar{
    display: None;
}

.details{
    flex: 2;
    height: 25vh;
    overflow: scroll;
    scroll-behavior: auto;
    padding-top: 15px;
}

.users{
    flex: 2;
    height: 180px;
    overflow: scroll;
    scroll-behavior: auto;
    padding-top: 15px;
}

.users::-webkit-scrollbar{
    display: None;
}


.details::-webkit-scrollbar{
    display: None;
}

p{
    font-size: 20px;
    padding: 30px 50px;
}

.status{
    flex: 1;
    height: calc(100% / 6);
    padding-top: 15px;
}

.status button{
    width: 150px;
    height: 75px;
    margin-top: 30px;
    font-size: 26px;
    text-transform: capitalize;
    color: white;
    background-color: #7D94B5;
}

.submit{
    width: 150px;
    height: 75px;
    margin-top: 10px;
    font-size: 26px;
    text-transform: capitalize;
    color: white;
    background-color: #7D94B5;
}

.risks{
    height: 74%;
    overflow: scroll;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column-reverse;
}

.risks::-webkit-scrollbar{
    display: None;
}

.comment{
    height: 5%;
}

.user-bubble{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    background: #666;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px 0;
}

.user-bubble-little{
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px auto;
    background: #666;
    height: fit-content;
}

.comment-bubble{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    background: #666;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px 0;
}

.comment-bubble span{
    margin-left: 10px;
    width: 80%;
    color: white;
}

.circle{
    margin: 5px;
    width: 35px;
    height: 35px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    justify-content: center;
    background: blue;
    color: #FFF;
}

.circle-little{
    margin: 0;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    padding-top: 3px;
    justify-content: center;
    background: blue;
    color: #FFF;
}

.user-bubble span{
    font-size: 30px;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
}

.user-bubble-little span{
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    height: fit-content;
}

.everything h4{
    position: fixed;
    background-color: #999;
}

.assignee h4{
    position: inherit;
}

.assignee{
    margin: 20px auto 0px auto;
}

.members{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#id_comment{
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    background: #FFF;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px 0;
}

.comment-button{
    display: none;
}

.comments{
    overflow: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
}

.comments::-webkit-scrollbar{
    display: None;
}

#id_task_summary{
    width: 100%;
}

#id_task_details{
    width: 100%;
}

#id_task_deadline{
    margin: 0 auto;
}

#id_task_name{
    width: 70%;
    height: 30px;
    font-size: 20px;
}

#id_deadline{
    height: 30px;
    font-size: 20px;
}

#id_status, #id_assignee, #id_priority, #id_project{
    height: 40px;
    font-size: 20px;
    max-width: 80%;
}

.task-name h3{
    width: 100%;
}

#id_project{
    width: 80%;
}

#id_status{
    height: 40px;
    font-size: 20px;
    max-width: 80%;
}

#id_members{
    width: 100%;
    height: 45vh;
}

#id_title{
    height: 40px;
    font-size: 20px;
    width: 70%;
}

#id_summary{
    width: 100%;
}

.special-project-btn{
    justify-content: center;
    margin: 0px auto;
}

.task-name h3{
    height: 30px;
    overflow: hidden;
    background-color: #999;
}

.task-name h3:hover{
    overflow: visible;
}

.project-tasks{
    overflow: scroll;
    scroll-behavior: auto;
    height: 22vh;
}

.all-tasks{
    margin-top: 30px;
}
.individual-task{
    display: flex;
    flex-direction: row;
    width: 92%;
    height: 70px;
    border: 1px solid black;
    margin: 5px 2%;
    align-items: center;
    padding-right: 20px;
    padding: 10px;
    justify-content: space-evenly;
}

.circle{
    width: 50px;
    height: 50px;
    background-color: #FFF ;
    border: 1px solid black;
    border-radius: 50%;
    margin: auto 10px;
}

.individual-task h3{
    font-size: 18px;
    padding: 0 20px;
    
}

.task-due{
    text-align: right;
}

.priority{
    width: 60px
}