.bottom-section{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding: 0 10px;
    margin-bottom: 0;
}

.left-section{
    flex: 3;
    border-right: 1px solid black;
    width: 80%;
    margin-right: 25px;
    padding: 20px;
    padding-bottom: 0;
}

.right-section{
    flex: 1;
    height: calc(100vh - 225px);
}

.top-section{
    display: flex;
    flex-direction: row;
}

.everything{
    display: flex;
    flex-direction: column;
    background-color: #999;
    margin: 10px;
    height: calc(100% - 20px);
}

.top-section > * {
    width: 100%;
    margin: 20px 5px;
}

.task-name{
    padding-left: 5px;
}

.deadline{
    text-align: right;
}

.project{
    text-align: center;
}

.summary{
    height: 180px;
    overflow: scroll;
    scroll-behavior: auto;
}

.summary::-webkit-scrollbar{
    display: None;
}

.details{
    flex: 2;
    height: 180px;
    overflow: scroll;
    scroll-behavior: auto;
    padding-top: 15px;
}

.users{
    flex: 2;
    height: 180px;
    overflow: scroll;
    scroll-behavior: auto;
    padding-top: 15px;
}

.users::-webkit-scrollbar{
    display: None;
}


.details::-webkit-scrollbar{
    display: None;
}

p{
    font-size: 20px;
    padding: 30px 50px;
}
.status{
    flex: 1;
    height: calc(100% / 6);
    padding-top: 15px;
}

button{
    width: 150px;
    height: 75px;
    margin-top: 30px;
    font-size: 26px;
    text-transform: capitalize;
    color: white;
    background-color: #7D94B5;
}

.submit{
    width: 150px;
    height: 75px;
    margin-top: 10px;
    font-size: 26px;
    text-transform: capitalize;
    color: white;
    background-color: #7D94B5;
}

.risks{
    height: 74%;
    overflow: scroll;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column-reverse;
}

.risks::-webkit-scrollbar{
    display: None;
}

.comment{
    height: 5%;
}

.user-bubble{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    background: #666;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px 0;
}

.user-bubble-little{
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px auto;
    background: #666;
    height: fit-content;
}

.comment-bubble{
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    background: #666;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px 0;
}

.comment-bubble span{
    margin-left: 10px;
    width: 80%;
    color: white;
}

.circle{
    margin: 5px;
    width: 35px;
    height: 28px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    padding-top: 7px;
    justify-content: center;
    background: blue;
    color: #FFF;
}

.circle-little{
    margin: 0;
    width: 30px;
    height: 23px;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    padding-top: 5px;
    justify-content: center;
    background: blue;
    color: #FFF;
}

.user-bubble span{
    font-size: 30px;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 5px;
    color: #333;
}

.user-bubble-little span{
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 10px;
    margin-top: 5px;
    color: #333;
    height: fit-content;
}

.everything h4{
    position: fixed;
    background-color: #999;
}

.assignee h4{
    position: inherit;
}

.assignee{
    margin: 20px auto 0px auto;
}

.members{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-;
}

#id_comment{
    height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    background: #FFF;
    padding: 5px;
    border-radius: 20px;
    border: 1px solid black;
    margin: 5px 0;
}

.comment-button{
    background-color: #fff;
    position: fixed;
    right: 40px;
    bottom: 145px;
}

.comments{
    overflow: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column-reverse;
}

.comments::-webkit-scrollbar{
    display: None;
}