.teamstable{
    height: calc(100vh - 100px);
    overflow: scroll;
    scroll-behavior: aut0;
}

.perm-table{
    background-color: #999;
    margin: 20px;
    padding: 60px;
    text-align: left;
    width: 96%;
    border: 1px solid black;
}

.perm-table tr{
    border: 1px solid black;
}

tr{
    height: 20px;
}

td{
    height: 100px;
    padding: 10px;
    padding-left: 20px;
}

th{
    padding: 20px;
    font-size: 18px;
}

.team-members{
    height: 100px;
    overflow: scroll;
    scroll-behavior: auto;

}

.user{
    display: flex;
    flex-direction: column;
    margin: 4px 0;
    background-color: #666;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.submit{
    width: 150px;
    height: 75px;
    margin-top: 10px;
    font-size: 26px;
    text-transform: capitalize;
    color: white;
    background-color: #7D94B5;
}

.everything{
    background-color: #666;
    margin: 20px;
    padding: 20px;
    height: 100%;
}

.team-btn{
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-transform: capitalize;
    color: #fff;
    background-color: #7D94B5;
}

#id_name, #id_leader, #id_members{
    font-size: 20px;
    height: 40px;
    width: 40%;
}

#id_members{
    width: 40%;
    height: calc(100vh - 400px);
}

label{
    font-size: 24px;
    width: 300px;
    margin: 30px;
    text-align: left;
}

p{
    text-align: center;
}

form{
    justify-content: center;
    margin: 0px auto;
}
