{% extends 'base.html' %}
{% load static %}

{% block title %}
    Task Details
{% endblock title%}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/task-detail.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
{% endblock links %}

{% block contents %}
<div class="everything">
    <div class="top-section">
        <div class="task-name">
            <h3>{{ task.task_name | truncatechars:100 }} <a href="{% url 'task-update' task.id%}"><i class="fa-solid fa-pen-to-square"></i></a></h3>
            <button type="button" class="delete-task bs-modal btn btn-sm btn-danger" data-form-url="{% url 'task-delete' task.id %}">
                <span class="fa fa-trash"></span>
            </button>
        </div>
        
        <div class="project">
            <h3>PROJECT: {{ task.project | truncatechars:100 }}</h3>
        </div>
        <div class="deadline">
            <h3>{{ task.deadline }}</h3>
        </div>
    </div>

    <div class="bottom-section">
        <div class="left-section">
            <div class="summary">
                <h4>TASK SUMMARY</h4>
                <p>{{ task.task_summary }}</p>
            </div>

            <div class="details">
                <h4>TASK DETAILS</h4>
                <p>{{ task.task_details}}</p>
            </div>

            <div class="status">
                <h4>STATUS</h4>

                {% if task.status == "assigned" %}
                    <a href="{% url 'progress_detail' task.id %}"><button>{{ task.status }}</button></a>
                {% elif task.status == "in-progress" %}
                    <a href="{% url 'complete_detail' task.id %}"><button>{{ task.status }}</button></a>
                {% else %}
                    <a href="{% url 'archived_detail' task.id %}"><button>{{ task.status }}</button></a>
                {% endif %}
            </div>   
        </div>
        <div class="right-section">
            <h4>RISKS / ISSUES</h4>
            <div class="risks">
                <div class="comments">
                    {% for comment in comments %}
                        {% if task.task_name == comment.task.task_name %}
                        <div class="comment-bubble">
                        <div class="circle" style="background-color: {{comment.author.color}};">{{ comment.author.first_name | slice:1 }}{{ comment.author.last_name | slice:1}}</div>
                        <span>{{ comment }}</span>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="comment">
                <form method="POST">
                    {% csrf_token %}
                    <span>{{ form.comment }}</span>
                    <input type="submit" value="↪️" class="comment-button">
                </form>
            </div>
            
            <div class="assignee">
                <h4>ASSIGNEE</h4>
                <div class="user-bubble">
                    <div class="circle">JB</div>
                    <span>{{ task.assignee }}</span>
                </div>
            </div>
            

        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
</div>
{% endblock contents %}

{% block javascript %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
        
            $(".delete-task").each(function () {
            $(this).modalForm({formURL: $(this).data("form-url"), isDeleteForm: true});
        });
        });
    </script>
{% endblock javascript %}